@import 'tailwindcss';

:root {
  --background: #ffffff;
  --background-gray: #eeeeee;
  --background-light-gray: #f7f7f7;
  --foreground: #1e1e1e;
  --muted: #1e2833;

  /* Global Theme Colors */
  --primary-orange: #e58411;
  --primary-cyan: #00d6c9;
  --primary-gray: #7c7c7c;

  /* Default theme (Orange) */
  --primary: var(--primary-orange);

  --star-rating: #f6973f;

  --leading-paragraph: 1.9;
  --font-4xxl: 2.625rem;
}

[data-theme='orange'] {
  --primary: var(--primary-orange);
}

[data-theme='cyan'] {
  --primary: var(--primary-cyan);
}

[data-theme='gray'] {
  --primary: var(--primary-gray);
}

@theme inline {
  --color-background: var(--background);
  --color-background-gray: var(--background-gray);
  --color-background-light-gray: var(--background-light-gray);
  --color-muted: var(--muted);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-orange: var(--primary-orange);
  --color-primary-cyan: var(--primary-cyan);
  --color-primary-gray: var(--primary-gray);
  --color-star-rating: var(--star-rating);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-dm-sans: var(--font-dm-sans);
  --font-montserrat: var(--font-montserrat);
  --leading-paragraph: var(--leading-paragraph);
  --text-4xxl: var(--font-4xxl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
